mat-toolbar-row {
	padding: 1vh;
/*	haight: auto;*/
	font-weight: 500;
	margin: 0;
	background-color: #71a171;
	border-radius: 10px;
	display: grid;
	grid-template-columns: [first] 30% [line2] 40% [line3] 30%;
  	grid-template-rows: [row1-start] 5% [row1-end] 95%px;
  	overflow: clip;
  	height: max-content;
}

mat-toolbar-row > div {
/*	height: auto;*/
	font-size: 1.1vw;
	margin-right: 1vw;
	color: white;
	overflow: clip;
	white-space: pre-wrap;
}

mat-toolbar-row > button {
	width: 100%;
}

span {
	margin: 0;
	grid-column-start: 1;
	grid-column-end: 2;
}

mat-toolbar > mat-toolbar-row > app-auth {
	margin: 0 0 0 1vw;
	grid-column-start: 3;
  	grid-column-end: 4;
}

app-filtering-price {
/*	font-size: 3.5vw;
	overflow: clip;*/
}

:host > p {
	height: fit-content;
}

:host > * {
	margin-left: 15vw;
	margin-right: 15vw;
	overflow: hidden;
}

app-player-component {
	
}

.myName {
	background-color: yellow;
/*	display: inline;*/
}