*old
*patch
.vs/
*test?.ts
*test?.js
backend-all/connectionSettingsCars.js
backend-all/connectionSettings.js
backend-all/connectionSettingsPlayer.js
backend-all/connectionSettingsVulcan.js
backend-all/music/
backend-all/music/
cookies.json         
index0.html
legi.html
node_modules/
node_modules/
NodeMySQL/.connection.js.swp       
NodeMySQL/VulcanDBConnectionSettings.js
priceCharts/.angular/
priceCharts/.vscode
priceCharts/.vscode
priceCharts/node_modules
priceCharts/src/assets/
puppeteer/vulcanScrapper/Captcha/Captcha2Credentials.ts
puppeteer/vulcanScrapper/olxScrapper/*test*
puppeteer/vulcanScrapper/olxScrapper/CarsDBConnectionSettings.js
puppeteer/vulcanScrapper/olxScrapper/user_data/
puppeteer/vulcanScrapper/user_data/
puppeteer/vulcanScrapper/user_data/
puppeteer/vulcanScrapper/VulcanConnectionSettings.js
puppeteer/vulcanScrapper/VulcanDBConnectionSettings.js
react/appno2/
react/wrapper-tutorial/
testy/
testy/
zadanie/
