node_modules/
.vs/
priceCharts/.angular/
priceCharts/node_modules
priceCharts/.vscode
testy/
backend-all/music/
priceCharts/src/assets/
react/appno2/
react/wrapper-tutorial/
zadanie/
puppeteer/vulcanScrapper/user_data/