.vs/
backend-all/music/
backend-all/connectionSettings.js
backend-all/connectionSettingsPlayer.js
backend-all/connectionSettingsVulcan.js
node_modules/
NodeMySQL/VulcanDBConnectionSettings.js
priceCharts/.angular/
priceCharts/.vscode
priceCharts/node_modules
priceCharts/src/assets/
puppeteer/vulcanScrapper/user_data/
puppeteer/vulcanScrapper/VulcanConnectionSettings.js
puppeteer/vulcanScrapper/VulcanDBConnectionSettings.js
react/appno2/
react/wrapper-tutorial/
testy/
zadanie/