<div class="all">
	<div class='header'>
		<div class="headerInfo-lv1">
			<div class='headerInfo'>
				<h3 class='spaced'>CV</h3>
				<h3 class='spaced'>Radosław Czyżowicz</h3>
				<h3>Inżynier Mechanik/</h3>
				<h3>Konstruktor</h3>
			</div>
		</div>
		<div class="photoFrame">
			<img class='photo framed' src="./assets/DSC_5280-PL zdjęcie cv.jpg">
		</div>
	</div>

	<!-- <mat-accordion> -->
		<mat-expansion-panel   (opened)="panelOpenState = true" (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title  class="description-side">
					<h4>Dane Personalne</h4>
				</mat-panel-title>
				<mat-panel-description>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<!-- <p class="description-side">This is the primary content of the panel.</p> -->
			<table class="personalData">	

      <colgroup>
        <col span="1" style="width: 15vw;">
        <col span="1" style="width: 40vw;">
      </colgroup>

      <tbody>
				<tr>
					<td>Nazwisko</td>
					<td>Czyżowicz</td>
				</tr>
				<tr>
					<td>Imiona</td>
					<td>Radosław, Jacek</td>
				</tr>
				<tr>
					<td>Data urodzenia</td>
					<td>03.07.1984</td>
				</tr>
				<tr>
					<td>Miejsce uirodzenia</td>
					<td>Brzeg Dolny, dolnośląskie</td>
				</tr>
				<tr>
					<td>Miejsce zamieszkania</td>
					<td>Wolów, dolnośląskie</td>
				</tr>
				<tr>
					<td>Stan cywilny</td>
					<td>żonaty, 3 dzieci</td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td>radoslaw.czyzowicz@gmail.com</td>
				</tr>
				<tr>
					<td>Profil GitHub</td>
					<td>https://github.com/radek-czcz</td>
				</tr>
				<tr>
					<td>Profil NoFluffJobs</td>
					<td>https://nofluffjobs.com/pl/profile/2YF4DS8S</td>
				</tr>
			</tbody>
				
			</table>
		</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header>
		<mat-panel-title class="description-side">
			<h4>Doświadczenie Zawodowe</h4>
		</mat-panel-title>
		<mat-panel-description>
			<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
		</mat-panel-description>
	</mat-expansion-panel-header>
	<!-- <p  class="description-side">I'm visible because I am open</p> -->
	<table class="workExperience">

		<colgroup>
		<col span="1" style="width: 15vw;">
		<col span="1" style="width: 40vw;">
		</colgroup>

		<tbody>
			<tr>
				<td>I.2013 - XII.2013</td>
				<td>RAWAG, wyposażenie dla kolejnictwa, Konstruktor (Autodesk Inventor) - 	projektowanie nowych wyrobów, wprowadzanie zmian do istniejących 	wyrobów, wsparcie wytwarzania prototypów, nadzór nad budową 	prototypów.
				Projekty: okna i drzwi (wewnętrzne i zewnętrzne) do lokomotyw i wagonów 	pasażerskich
				</td>
			</tr>
			<tr>
				<td>I.2014 - III.2014</td>
				<td>KS-AUTOMOTIVE, biuro konstrukcyjne, Konstruktor CAD (CATIA v5) - 	opracowywanie modeli 3D dla klientów z branży motoryzacyjnej</td>
			</tr>
			<tr>
				<td>III.2014 - IV.2014</td>
				<td>MRC DOLTECH, firma montażowa, mistrz produkcji - nadzór i kierowanie 	produkcją przenośników taśmowych, praca z dokumentacją</td>
			</tr>
			<tr>
				<td>V.2014 - obecnie</td>
				<td>SITECH, Technika siedzeń Volkswagen, Inżynier Konstruktor (CATIA v5) - opracowywanie modeli i dokumentacji dla klienta, współpraca z prototypownią, działem jakości, działem produkcji, działem 	testów
				Projekty: siedzenie pojedyncze do VW Crafter, oparcie drugiego rzędu do 	AUDI A4, A5, A6, A7
				</td>
			</tr>
		</tbody>
	</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header>
		<mat-panel-title class="description-side">
			<h4>Wykształcenie</h4>
		</mat-panel-title>
		<mat-panel-description>
			<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
		</mat-panel-description>
	</mat-expansion-panel-header>
	<!-- <p  class="description-side">I'm visible because I am open</p> -->
	<table class="absolved">

		<colgroup>
		<col span="1" style="width: 15vw;">
		<col span="1" style="width: 40vw;">
		</colgroup>

		<tbody>
			<tr>
				<td>1990-1998</td>
				<td>Szkoła Podstawowa w Brzegu Dolnym</td>
			</tr>
			<tr>
				<td>1998-2002</td>
				<td>Liceum Ogólnokształcące w Brzegu Dolnym</td>
			</tr>
			<tr>
				<td>2006-2012</td>
				<td>studia inżynierskie na kierunku Mechanika i Budowa Maszyn, Politechnika 	Wrocławska</td>
			</tr>
			<tr>
				<td>X.2017-VIII.2018</td>
				<td>studia podyplomowe: "Tworzywa Sztuczne w Budowie Maszyn", 	Politechnika Wrocławskac
				</td>
			</tr>
		</tbody>
	</table>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header>
		<mat-panel-title class="description-side">
			<h4>Znajomość języków obcych</h4>
		</mat-panel-title>
		<mat-panel-description>
			<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
		</mat-panel-description>
	</mat-expansion-panel-header>
	<!-- <p  class="description-side">I'm visible because I am open</p> -->
	<table class="languages">

		<colgroup>
		<col span="1" style="width: 15vw;">
		<col span="1" style="width: 40vw;">
		</colgroup>

		<tbody>
			<tr>
				<td>angielski</td>
				<td>CEF B2 - Pearson LCCI Certificate przyznany przez: London Chamber of 	Commerce and Industry International Qualifications</td>
			</tr>
			<tr>
				<td>niemiecki</td>
				<td>B2 - Zertifikat Deutsch für den Beruf, przyznany przez Goethe Institut</td>
			</tr>
		</tbody>
	</table>
</mat-expansion-panel>



<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header>
		<mat-panel-title class="description-side">
			<h4>Umiejętności związane z programowaniem</h4>
		</mat-panel-title>
		<mat-panel-description>
			<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
		</mat-panel-description>
	</mat-expansion-panel-header>
<ul>
	<li>Angular, JavaScript, Typescript,</li>
<li>Java</li>
<li>Node.JS</li>
<li>CSS</li>
<li>HTML</li>
<li>MySQL</li>
<li>DOM</li>
<li>Puppeteer</li>
<li>Java Spring DI</li>
<li>GIT</li>
<li>VBA</li>
</ul>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
	<mat-expansion-panel-header>
		<mat-panel-title class="description-side">
			<h4>RÉSUMÉ</h4>
		</mat-panel-title>
		<mat-panel-description>
			<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
		</mat-panel-description>
	</mat-expansion-panel-header>

<p>Hi, my name is Radosław Czyżowicz, I’m 39 years old. I have 3 kids in the age range 3-11.</p>
<p>My education and my job is focused around mechanical engineering.
I have bachelor degree in this field and I work for a company from the automotive industry.</p>
<p>To be concise, my current daily work routine is taking care of car seats products, from the construction, documentation point of view.
Currently I’ve been working about 10 years in the aforementioned position and I feel it has come time to change.</p>
<p>About 5 years ago I have began my adventure in coding. I started with writing VBA macros for CAD software and for Excel. I always liked mathematical puzzles, where one must be strictly tied to the prevalent rules, to successfully find the solution of the problem… so I quickly went to the next level and started learning java with some of my small private project.</p>
<p>Currently one of my main hobbies is widening my coding skills. Last 2 years I was dedicating much of my free time to learn some of JavaScript and Angular.
Recent 2 months I wanted to make my first webpage. It’s nothing big, but from my point of view, for a self-learner, it’s some kind of milestone. This site is only for demonstration, if someone would want to know, what I have learnt so far.</p>
<p>If you are interested in the content of the webpage and how I have made it, please read the second page of my resume. I have prepared short description of the frameworks and libraries, which I have used.</p>
<p>Below you can find informations about the site which I have prepared for recruiters. This informations could give you a short description for my skills.
The source code for my web application can be found on GitHub: 
radek-czcz/scraper (github.com)</p>
<p>The site is to be found on url http://srv59554.seohost.com.pl/. Be sure to not include “s” after “http” in the url string, as then the frontend will not be able to obtain backend data because of CORS restrictions. All the server setup on the seohost servers i have done myself about month ago. I have learnt to handle with FTP file tool FileZilla to transfer my files to my hosting. I have gained access to my NodeJS application through terminal with tool PuTTY. I have there established a MySQL-Database to be able to communicate with my backend app and to serve the data to frontend application written in Angular.</p>
<p>All the data, which are to be found in database, come from scraping scripts written in Puppeteer. The site doesn’t update by itself, but i can update it from my local computer, by running these scripts.</p>
<p>The site presents charts with prices for a couple of product categories, which i choosed at the beginning. The charts are displayed thanks to Chart.js open source library. Backend gets the data from DB with the use of mysql2 npm library. The data is being served with the backend server Node application built on Hapi framework. To be able to use modern JavaScript syntax I have put a babel-node transpiler in my dependencies. </p>
<p>As it has been mentioned I have built my frontend with the use of Angular and TypeScript. Visible components of website come from Angular-Material library.</p>
<p>
Other libraries, frameworks, skills:</p>
<p class="pers-data-resume">HTML</p>
<p class="pers-data-resume">CSS</p>
<p class="pers-data-resume">async programming</p>
<p class="pers-data-resume">GIT</p>
<p class="pers-data-resume">PM2</p>
<p class="pers-data-resume">DOM</p>
<p class="pers-data-resume">Java</p>
<p class="pers-data-resume">Spring</p>
<p class="pers-data-resume">RxJS</p>

<p>Thank you for reading</p>
<p class="pers-data-resume">Radosław Czyżowicz</p>
<p class="pers-data-resume">+48 720 760 252</p>
<p class="pers-data-resume">radoslaw.czyzowicz@gmail.com</p>

<p>I allow to process my data with the purpose to realize recrutation process</p>

<p>„Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w ofercie pracy dla potrzeb niezbędnych do realizacji procesu rekrutacji zgodnie z ustawą z dnia 29.08.1997r. o ochronie danych osobowych (Dz.U. Nr 133, poz. 883)” </p>


<p>Radosław Czyżowicz</p>

</mat-expansion-panel>

	<!-- </mat-accordion> -->
</div>
