<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
                <p>{{pr.prName}}</p>
      </mat-panel-title>
      <mat-panel-description>
        {{auth.isLoggedIn}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Cena: {{pr.prPrice}}</p>
    <p>Sprzedawca: {{pr.prSeller}}</p>
    <p>Data: {{pr.extractDate | date:'YYYY-MM-dd'}}</p>
  <ng-template matExpansionPanelContent>
  <app-price-chart [productKey] = 'pr.prName'></app-price-chart>
  </ng-template>
  </mat-expansion-panel>
