* {
  margin: inherit;
}

.mat-expansion-panel {
  margin: inherit;
}


h3 {
  /*padding-left: 20px*/
}

mat-expansion-panel {
  /*margin: 1%;*/
  /*padding: 6px;*/
  background-color: #ffddcc;
}

mat-panel-title {
  flex-grow: 2.5;
}

mat-expansion-panel-header {
  margin: 0;
}

canvas {
  width: 50%;
}

app-price-chart {
  display: inline-block;
  width: 100%;
}
